<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Janet's sobie profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="styles/style.css">

</head>
<body>

<main>
  <h1> Hi, Im Janet. </h1>
    <section> 
      <img src="fbpropic.jpg" alt="Profile pic" height = 400, width = 450>      
    </section>

    <p>
      <h2> Contact Information </h2>
      <ul style="color : mediumslateblue; font-family : monospace; font-size: 15px; font-weight: bold";>
        <li><i class="material-icons" style="font-size:40px;color:navy">email</i> email : jmartinez4@una.edu </li>
        <li><i class="material-icons" style="font-size:40px;color:navy">call</i> phone : (256) 436-3129 </li>
        <li><i class="fa fa-github" style="font-size:40px;color:navy"></i> Github : <a href="https://github.com/jm-2017"> Janet's Github </a> </li>

      </ul>
      <h3>
        I am a senior at the University of North Alabama. I am majoring in Computer Information Systems and am graduating this upcoming spring of 2025. For the past 3 years I have gained knowledge and expierence in different coding languages, but I definitely have room to improve. I don't have a clear career path but have been enjoying database buidling lately.
       </h3>
    </p>
    <br>
  
    <p>
      <ul style="color: mediumslateblue; font-family: Courier New, monospace; font-size : 15px; font-weight: bold;">
        <li> <img src="https://www.franklin.k12.al.us/cms/lib/AL50000570/Centricity/Domain/14/256828092_1116335058901158_972611326251890401_n.jpg" alt="THS" height = 100, width = 150;> <a href="https://www.franklin.k12.al.us/Domain/14" target="_blank"> Tharptown High School - 2017 </a> </li>
        <li> <img src="https://nwscc.edu/wp-content/uploads/2021/12/NWSCC_Phil-Campbell-Campus-1024x804.jpg" alt="NWSCC" height = 100, width = 150><a href="https://nwscc.edu/">  North-West Shoals Community College - 2022 </a> </li>
        <li> <img src="https://whnt.com/wp-content/uploads/sites/20/2021/10/University-of-North-Alabama.jpg?strip=1" alt="UNA" height = 100, width = 150> <a href="https://www.una.edu/"> University of North Alabama - expected Graduation : May 2025 </a> </li>
      </ul>
    </p>
    
    <h3> Skills </h3>
    <p> 
      <ul>
        <li> Proficient in Spanish & English </li>
        <li> Programming Language : Python, SQL, CSS, JavaScript, Java </li>
        <li> Makrup Languages : HTML, XML </li>
      </ul>
    </p>
    <form method="POST" action="insert/">
        <input name="title">
        <input name="post">
        <button class="btn btn-primary" role="submit">new post</button>
      </form>

      
    <% profileData.forEach(result=> { %>
        <div class="col-md-8">
        
  
      <form method="POST" action="update/">
        <input name="updateTitle" value="<%= result.title %>">
        <input name="updatePost" value="<%= result.post %>"> 
        <input type="hidden" name="updateId" value="<%=result._id %>">
        <button class="btn btn-primary" role="submit"><i class="bi bi-pencil"></i></button>
      </form>
      
  
  
      <form method="POST" action="delete/">
        <input type="hidden" name="deleteId" value="<%=result._id %>">
        <button class="btn btn-primary" role="submit"><i class="bi bi-trash3"></i></button>
      </form>
  
  
    </div>
      <% }); %>

</main>



    
<footer class="footer bg-body-tertiary text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © Janet Martinez 2024
      <a class="text-body" href="https://mdbootstrap.com/">bc</a> |
      <a href="https://gist.github.com/assets/22795694/d414efab-a80c-4b31-aeac-9636a0681f41" target="_blank">see my wireframe</a>
      <!-- Copyright -->
    </div>
  </footer>
  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js'></script>
    <script  src="scripts/script.js"></script>
  
  </body>
  </html>
