<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
</head>
<body>
    
    <h1>I am in ejs, rendered! </h1>

    <p><%=pageTitle%></p>
    
    <h2>here is a Post method</h2>
    <form method="POST" action="/saveMyName">
        <input name="myName">
        <input type="submit" value="save my name!">

    </form>

    <h2>here is a get method</h2>
    <form method="GET" action="/saveMyNameGet">
        <input name="myNameGet">
        <input type="submit" value="save my name!">

    </form>


</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=pageTitle%> </title>
</head>
<body>
    <h1> im in ejs rednered </h1>

    <h2> heres a post method </h2>
    <form method = "POST" action="/saveMyName">
        <input name="myName">
        <input type="submit" value="save my name!">
    </form>

    <h2> heres a get method </h2>
</body>
</html> -->